@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger text-center">Error</h1>

<div class="alert alert-danger">
    <table>
        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
        {
            <tr>
                <td style="width: 100px;"><strong>Message:</strong></td>
                <td>@Model.ErrorMessage</td>
            </tr>
        }
        else
        {
            <tr>
                <td>An error occurred while processing your request.</td>
            </tr>
        }

        @if (Model.ShowRequestId)
        {
           <tr>
                <td style="width: 100px;"><strong>Request ID:</strong></td>
                <td><code>@Model.RequestId</code></td>
           </tr>
        }
    </table>
</div>
