@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>Submitted by:</p>
    <h5>Ken Holtgrewe<br />ken.holtgrewe@gmail.com<br />(281) 546-6277</h5>
    <img src="~/images/NothingToSee.jpg" alt="About Image" class="img-fluid" style="margin-top: 250px;"/>
</div>

